<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827710601897-tddutdbo8r1idb5o3igh97vokhfv7orm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827710601897-tddutdbo8r1idb5o3igh97vokhfv7orm</string>
	<key>API_KEY</key>
	<string>AIzaSyDP3nTPrXBX7IlShhRST8h1FcGAYPZE7Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>827710601897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avokisol.VK-noStoryboard</string>
	<key>PROJECT_ID</key>
	<string>vk-gb-df97a</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-gb-df97a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827710601897:ios:633c1c5badc362241787b8</string>
</dict>
</plist>